registry = https://registry.npmjs.org
@savvy:registry= https://dquj9do9eb.itsallsavvy.com/repository/npm-private/
--init-author-name = admin
--init-author-email = admin@example.org
# init.author.url = http://blog.example.com
# an email is required to publish npm packages
# email=admin@example.org
always-auth=true
//registry.npmjs.org/:_auth=YWRtaW46dXR0N1lSYXBBUFRbZD5tWjhTRSJNdSFScSd3PmZuQzc1JStEb1kuVQ==

//dquj9do9eb.itsallsavvy.com/repository/npm-private/:always-auth=true
//dquj9do9eb.itsallsavvy.com/repository/npm-private/:_auth=YWRtaW46dXR0N1lSYXBBUFRbZD5tWjhTRSJNdSFScSd3PmZuQzc1JStEb1kuVQ==
