<footer class="footer mt-auto py-3">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-auto">
              <p class="small text-secondary">v 2.0.1</p>
          </div>
          <div class="col-auto ms-auto">
              <p>
                  <span class="text-muted"><small class="text-secondary">Powered by</small> <a href="https://itsallsavvy.com" class="savvylogo-footer ms-1"><img src="assets/img/savvy-pet-spa-logo-colored-189.png" alt=""></a></span>
              </p>
          </div>
      </div>
  </div>
</footer>
