<header class="header">
  <nav class="navbar fixed-top">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand" href="#"><img src="assets/img/savvy-pet-spa-logo-colored-189.png" alt="">
      </a>
  <div>
      <a routerLink="/register" class="btn btn-light shadow-sm">Join us <span class="d-none d-sm-inline">now</span></a>
      <a routerLink="/signin" class="btn btn-default shadow-sm ms-1 ms-md-2">Sign in <i class=" bi bi-arrow-right d-none d-sm-inline"></i></a>
    </div>
    </div>
  </nav>
</header>

