        <div class="container container-vh z-index-1">
            <div class="row align-items-center h-100">
                <div class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-4 pb-4 pt-5 pt-md-0 order-2 order-lg-1">
                    <h1 class="mb-4">Easy scheduling with<br>Easy online booking</h1>
                    <p class="lead text-secondary mb-4">Your pets are in great hands with a us. Plus, your booking is backed by 24/7 support. We will send you a confirmation with timing and reminder at the time of appointment.</p>

                    <a href="#" class="btn btn-lg btn-light shadow-sm">Become our Customer <i class="bi bi-arrow-right"></i></a>
                </div>
                <div class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 offset-lg-2 offset-xl-2 offset-xxl-3 order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-9 col-md-11 col-xl-9 col-xxl-8 ">
                            <h4 class="text-center my-4">Great, Set new password</h4>
                            <div class="mb-3">
                                <div class="input-group ">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="passwords" placeholder="New Password" [(ngModel)]="newPassword" required>
                                        <label for="passwords">New Password</label>
                                    </div>
                                    <span class="input-group-text bg-white"><i class="bi bi-eye-slash"></i></span>
                                    <div class="invalid-feedback">
                                        Enter password with at-least 1 alpha
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group ">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="passwords2" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required>>
                                        <label for="passwords2">Confirm Password</label>
                                    </div>
                                    <span class="input-group-text bg-white"><i class="bi bi-eye-slash"></i></span>
                                    <div class="invalid-feedback">
                                        Enter password doesn't match
                                    </div>
                                </div>
                            </div>

                            <p class="text-center my-4">
                                <a href="#" class="btn btn-lg btn-default shadow-sm ms-1 ms-md-2" type="submit">Set Password <i class=" bi bi-arrow-right"></i></a>
                            </p>
                            <p class="text-secondary text-center px-3 px-md-4">If you are already our customer, retrieve pet list by <a routerLink="/signin">Sign in</a> here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- logins background start -->
        <div class="img-pet">
            <div class="circle-0-large"></div>
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <img src="assets/img/bottom-pet.png" class="pet-image" alt="" />
        </div>
        <!-- logins background start ends -->

