<body class="d-flex flex-column">

    <header class="header">
        <!-- Fixed navbar -->
        <nav class="navbar fixed-top">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand" href="#">
                    <img src="assets/img/savvy-pet-spa-logo-colored-189.png" alt="" />
                </a>
                <div></div>
                <div>
                    <a href="javascript:void(0)" class="btn btn-link useremail">john.smith&#64;gmail.com</a>
                    <a href="signin.html" class="btn btn-default shadow-sm ms-1 ms-md-2">Sign in <i class=" bi bi-arrow-right d-none d-sm-inline"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="main position-relative ">
        <div class="container z-index-1 mt-3">
            <div class="row ">
                <div class="col-12 col-md-12 col-lg-5 col-xl-4 col-xxl-4 pb-4  ">
                    <!-- title -->
                    <div class="row align-items-center mb-3 ">
                        <div class="col">
                            <h4 class="my-2">Your pets</h4>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-link">+ Add Pet</button>
                        </div>
                    </div>
                    <!-- title ends -->

                    <!-- Pet list carousel container -->
                    <div class="swiper petListSwiper mb-3">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <div class="row gx-3">
                                            <div class="col-12 col-sm mb-3 mb-sm-0">
                                                <div class="image-pic image-pic-80">
                                                    <figure class="image-pic-circle">
                                                        <img src="assets/img/pet-2.png" alt="" />
                                                    </figure>
                                                    <button class="btn btn-sm btn-danger image-pic-upload-btn shadow-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                    <input class="image-pick-file" type="file" id="imagepic">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xxl-9">
                                                <div class="row my-1">
                                                    <div class="col">
                                                        <h5>Laabu</h5>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h5 class="">£129.90</h5>
                                                    </div>
                                                </div>
                                                <p class="text-secondary small mb-2">Labrador </p>
                                                <p class="small w-100 text-truncate mb-1">
                                                    <span class="icon-18 text-theme me-1"><i class="bi bi-scissors"></i></span>
                                                    Full Grooming <span class="text-secondary">|</span> 1 hr <span class="text-secondary">|</span> £60 + £4.95 <span class="text-secondary">(Tax)</span>
                                                </p>
                                                <p class="small w-100 text-truncate mb-1">
                                                    <span class="icon-18 text-theme me-1"><i class="bi bi-scissors"></i></span>
                                                    Nail Spa + Hair Cutting <span class="text-secondary">|</span> 30 min <span class="text-secondary">|</span> £60 + £4.95 <span class="text-secondary">(Tax)</span>
                                                </p>
                                                <p class="small w-100 text-truncate mb-0">
                                                    <span class="icon-18 text-theme me-1"><i class="bi bi-calendar-event"></i></span>
                                                    23 March 2023 <span class="text-secondary">at</span> 12:00pm <span class="text-secondary">by</span> <a href="">Harry</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <div class="row gx-3">
                                            <div class="col-12 col-sm mb-3 mb-sm-0">
                                                <div class="image-pic image-pic-80">
                                                    <figure class="image-pic-circle">
                                                        <img src="assets/img/pet-3.png" alt="" />
                                                    </figure>
                                                    <button class="btn btn-sm btn-danger image-pic-upload-btn shadow-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                    <input class="image-pick-file" type="file" id="imagepic">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8 col-xxl-9">
                                                <div class="row my-1">
                                                    <div class="col">
                                                        <h5>Navi</h5>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h5 class="">£64.95</h5>
                                                    </div>
                                                </div>
                                                <p class="text-secondary small mb-2">Labrador </p>
                                                <p class="small w-100 text-truncate mb-1">
                                                    <span class="icon-18 text-theme me-1"><i class="bi bi-scissors"></i></span>
                                                    Full Grooming <span class="text-secondary">|</span> 1 hr <span class="text-secondary">|</span> £60 + £4.95 <span class="text-secondary">(Tax)</span>
                                                </p>
                                                <p class="small w-100 text-truncate mb-0">
                                                    <span class="icon-18 text-theme me-1"><i class="bi bi-calendar-event"></i></span>
                                                    23 March 2023 <span class="text-secondary">at</span> 12:00pm <span class="text-secondary">by</span> <a href="">Harry</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="circle-border-64"><i class="bi bi-credit-card"></i></div>
                        </div>
                        <div class="col">
                            <h5 class="mb-0">£180.00</h5>
                            <p class="text-secondary">Sub-total</p>
                        </div>
                        <div class="col border-left-dashed">
                            <h5 class="mb-0">£14.85</h5>
                            <p class="text-secondary">Tax</p>
                        </div>
                        <div class="col border-left-dashed ">
                            <h5 class="mb-0">£194.85</h5>
                            <p class="text-secondary">Total</p>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-12 col-lg-7 col-xl-8 col-xxl-8 mb-5 mb-lg-0">
                    <!-- title -->
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <h4 class="my-2">Confirm Booking for <span class="text-theme">Laabu, Navi</span></h4>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                    <!-- title ends -->


                    <!-- calendar schedules -->
                    <div class="row mb-4">
                        <div class="col-12 col-xl-6 mb-4 mb-xl-0">
                            <div class="row ">
                                <div class="col-12 col-sm-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="firstname" placeholder="First Name">
                                        <label for="firstname">First Name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                                        <label for="lastname">Last Name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="form-floating w-130px">
                                        <select class="form-select" id="selectcode">
                                            <option>+44</option>
                                            <option>+40</option>
                                        </select>
                                        <label for="selectcode">Country Code</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="phonenumber" placeholder="Phone number">
                                        <label for="phonenumber">Phone number</label>
                                    </div>
                                </div>
                            </div>

                            <div class="rounded bg-white overflow-hidden mb-3 px-3 pt-1 pb-3 border">
                                <p class="text-center small text-secondary">Your signature here</p>
                                <div class="h-100px w-100 text-center">
                                    signaturepad here
                                </div>
                            </div>

                            <div class=" form-floating mb-3">
                                <textarea class="form-control h-auto" id="additionalinfo" placeholder="Additional Information" rows="3">Hello! </textarea>
                                <label for="additionalinfo">Additional Information</label>
                            </div>

                            <div class="form-check form-check-lg mb-3">
                                <input class="form-check-input dark " type="checkbox" name="agreement" value="" id="agreement-1">
                                <label for="agreement-1" class="py-1 ps-2">
                                    <p>I understand and agree to the <a href="">booking policy</a> and <a href="">privacy policy.</a></p>
                                </label>
                            </div>

                            <div class="alert alert-theme mb-0">
                                <div class="row gx-3">
                                    <div class="col-auto">
                                        <i class="bi bi-info-circle text-theme h4"></i>
                                    </div>
                                    <div class="col">
                                        <p class="small">Cancellation is allowed 2 days prior your appointment otherwise you will be charged 25% of the total amount for late cancellation or 50% of the total amount for not showing up.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-xl-6 ">
                            <div class="bg-theme rounded overflow-hidden p-3 p-md-3 p-lg-4 text-center">
                                <h1 class="text-center text-white mb-0">£194.85</h1>
                                <p class="opacity-75 text-center text-white mb-0">Total Amount</p>
                                <div class=" my-3">
                                    <!-- payment gateway code here-->
                                    <a href="booking-success.html">
                                        <img src="img/payment.png" class=" mx-auto" alt="" style="width: 370px;" />
                                    </a>
                                </div>
                                <p class="small text-center text-white">No payment will be taken at this moment. Your card details will be stored and will be charged on the day of your appointment.</p>
                            </div>
                        </div>
                    </div>
                    <!-- calendar schedules ends-->

                    <!-- buttons container -->
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-light shadow-sm" onclick="history.back()">
                                <i class="bi bi-arrow-left"></i> Previous
                            </button>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                    <!-- buttons container -->
                </div>
            </div>
        </div>

    </main>

    <footer class="footer mt-auto py-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-auto">
                    <p class="small text-secondary">v 2.0.1</p>
                </div>
                <div class="col-auto ms-auto">
                    <p>
                        <span class="text-muted"><small class="text-secondary">Powered by</small> <a href="https://itsallsavvy.com" class="savvylogo-footer ms-1"><img src="assets/img/savvy-pet-spa-logo-colored-189.png" alt=""></a></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>



