<div class="col-auto">
  <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addpetmodal" (click)="open()">+ Add Pet</button>
  <div class="modal fade" id="addpetmodal" tabindex="-1" aria-labelledby="addpetmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-5" id="addpetmodalLabel">Add Pet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="image-pic pt-3 pt-sm-0">
            <figure class="image-pic-circle small">
              <img src="assets/img/dog-165015.png" alt="" />
            </figure>
            <button class="btn btn-light image-pic-upload-btn shadow"
              onclick="document.getElementById('imagepic').click();"><i class="bi bi-camera"></i></button>
            <input class="image-pick-file" type="file" id="imagepic">
          </div>
          <h5 class="text-center my-4">What is the pet's name?</h5>
          <div class="row ">
            <div class="col-12  mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="petname" placeholder="Pet Name">
                <label for="petname">Pet Name</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <select class="form-select" id="breedSelect" aria-label="Select Pet Breed">
                  <option>Your Pet Breed</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <label for="breedSelect">Select Pet Breed</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center border-0">
          <button type="button" class="btn btn-default">Submit <i class="bi bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
