<div class="container container-vh z-index-1">
  <div class="row align-items-center h-100">
    <div class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-4 pb-4 pt-5 pt-md-0 order-2 order-lg-1">
      <h1 class="mb-4">Easy scheduling with<br>Easy online booking</h1>
      <p class="lead text-secondary mb-4">Your pets are in great hands with a us. Plus, your booking is backed by
        24/7 support. We will send you a confirmation with timing and reminder at the time of appointment.</p>

      <a routerLink="/register" class="btn btn-lg btn-light shadow-sm">Become our Customer <i
          class="bi bi-arrow-right"></i></a>
    </div>
    <div
      class="col-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5 offset-lg-2 offset-xl-2 offset-xxl-3 order-1 order-lg-2 mb-5 mb-lg-0">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-11 col-xl-9 col-xxl-8 ">
          <div class="image-pic pt-3 pt-sm-0">
            <figure class="image-pic-circle">
              <img src="assets\img\dog-165015.png" alt="" />
            </figure>
            <button class="btn btn-light image-pic-upload-btn shadow"
              onclick="document.getElementById('imagepic').click();"><i class="bi bi-camera"></i></button>
            <input class="image-pick-file" type="file" id="imagepic">
          </div>
          <h4 class="text-center my-4" *ngIf="(pets && pets?.length === 0) || addNewPet">What is the pet's
            name?</h4>
          <div class="row">
            <div class="col-12 col-sm-6 mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="petname" placeholder="Pet Name" [(ngModel)]="petname"
                  required>
                <label for="petname">Pet Name</label>
                <div *ngIf="!petname && petname !== ''">Pet Name is required.</div>
              </div>
            </div>

            <div class="col-12 col-sm-6 mb-3">
              <div class="form-floating">
                <select class="form-select" id="breedSelect" placeholder="Select Pet Breed" [(ngModel)]="loadBreeds"
                  aria-label="Select Pet Breed">
                  <option>Your Pet Breed</option>
                </select>
                <label for="breedSelect">Select Pet Breed</label>
                <option *ngFor="let breed of petBreeds" [value]="breed.name">{{ breed.label }}</option>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-floating is-valid">
              <input type="email" class="form-control is-valid" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="valid-feedback text-success" *ngIf="isEmailRegistered">
              Email is already register with us. <a routerLink="/signin" class="fw-bold text-success">Sign
                in</a> to continue.
            </div>
          </div>

          <p class="text-center my-4">
            <a routerLink="/select-service" class="btn btn-lg btn-default shadow-sm ms-1 ms-md-2" type="submit">Start
              scheduling <i class=" bi bi-arrow-right"></i></a>
          </p>
          <p class="text-secondary text-center px-3 px-md-4">If you are already our customer, retrieve pet
            list by <a routerLink="/signin">Sign in</a> here.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- logins background start -->
<div class="img-pet">
  <div class="circle-0-large"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <img src="assets/img/bottom-pet.png" class="pet-image" alt="" />
</div>
<!-- logins background start ends -->
